{% extends 'caselog/base.html' %}

{% block content %}
  <h1>Add Case</h1>

  <form method="POST" action="{% url 'caselog-addlogentry' %}">
    {% csrf_token %}

    <div class="form-group">
      <select class="custom-select" placeholder="month" name="month">
        <option selected >Select Month</option>
        {% for month in months %}
        <option value="{{month.id}}">{{month.name}}</option>
        {% endfor %}
      </select>
    </div>

    <div class="form-group">
      <select class="custom-select" placeholder="Case Status" name="casestatus">
        <option selected >Select Case Status</option>
        {% for casestatus in casestatuses %}
        <option value="{{casestatus.id}}">{{casestatus.name}}</option>
        {% endfor %}
      </select>
    </div>
    
    <div class="form-group">
      <input type="text" class="form-control"  aria-describedby="emailHelp" placeholder="File Number" name="filenum" value="{{ filenum }}">
    </div>
  
    <div class="form-group">
      <select class="custom-select" placeholder="Case Type" name="casetype">
        <option selected >Select Case Type</option>
        {% for casetype in casetypes %}
        <option value="{{casetype.id}}">{{casetype.name}}</option>
        {% endfor %}
      </select>
    </div>

    <div class="form-group">
      <input type="text" class="form-control"  aria-describedby="emailHelp" placeholder="Direct Full Name" name="fullname" value="{{ fullname }}">
    </div>
  
  
    <div class="form-group">
      <input type="number" class="form-control" aria-describedby="emailHelp" placeholder="Age" name="age" value="{{ age }}">
    </div>
  
  
    <div class="form-group">
      <select class="custom-select" placeholder="Gender" name="gender">
        <option selected >Select Gender</option>
        {% for gender in genders %}
        <option value="{{gender.id}}">{{gender.name}}</option>
        {% endfor %}
      </select>
    </div>
  
    <div class="form-group">
      <select class="custom-select" placeholder="Nationality" name="nationality">
        <option selected >Select Nationality</option>
        {% for nationality in nationalities %}
        <option value="{{nationality.id}}">{{nationality.name}}</option>
        {% endfor %}
      </select>
    </div>



    <button type="Sign up" class="btn btn-secondary">Add Case</button>
</form>

{% endblock %}
