
{% extends 'caselog/base.html' %}

{% block content %}
  <h5>ADD PS WORKER</h5>
  <hr style="width: 40rem;">
  <div class="card card-body" style="width: 40rem;">
      <form method="POST" action="{% url 'caselog-addworker' %}">
        {% csrf_token %}
      
      <div class="form-group">
        <input type="text" class="form-control"  aria-describedby="emailHelp" placeholder="First Name" name="fullname" value="{{ fullname }}">
      </div>

      <div class="form-group">
        <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Phone" name="phone" value="{{ phone }}">
      </div>

      <div class="form-group">
        <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Email" name="email" value="{{ email }}">
      </div>

      <div class="form-group">
        <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Age" name="age" value="{{ age }}">
      </div>


      <div class="form-group">
        <select class="custom-select" placeholder="Gender" name="gender">
          <option selected >Select Gender</option>
          {% for gender in genders %}
          <option value="{{gender.1}}">{{gender.1}}</option>
          {% endfor %}
        </select>
      </div>

      <div class="form-group">
        <select class="custom-select" placeholder="Nationality" name="nationality">
          <option selected >Select Nationality</option>
          {% for x in nationalities %}
          <option value="{{x.1}}">{{x.1}}</option>
          {% endfor %}
        </select>
      </div>

      <div class="form-group">
        <select class="custom-select" placeholder="Team" name="team">
          <option selected >Select Team</option>
          {% for x in teams %}
          <option value="{{x.1}}">{{x.1}}</option>
          {% endfor %}
        </select>
      </div>

      <button type="Sign up" class="btn btn-primary">Add Worker</button>
    </form>
</div>

{% endblock %}
