{% extends 'caselog/base.html' %}

{% block content %}
  <br>
  <h4>CASES DETAILS: {{selectedlogentry.filenumber}}</h4>
  <hr>
  <div class="row">
    <div class="col-md">
      <div class="card card-body">
        
        <table class="table table-sm" style="border-collapse:collapse; text-align: center;">
          <thead class="table-light">
            <tr>
              <th>Month</th>
              <th>Case Status</th>
              <th>File #</th>
              <th>Case Type</th>
              <th>Direct Benef</th>
              <th>Age</th>
              <th>Gender</th>
              <th>Nationality</th>
              <th>Phone</th>
              <th>Location</th>
              <th>Referrall Source</th>
            </tr>
          </thead>
          <tbody>
              <tr>
                <td>{{ selectedlogentry.month }}</td>
                <td>{{ selectedlogentry.casestatus }}</td>
                <td>{{ selectedlogentry.filenumber }}</td>
                <td>{{ selectedlogentry.casetype }}</td>
                <td>{{ selectedlogentry.fullname }}</td>
                <td>{{ selectedlogentry.age }}</td>
                <td>{{ selectedlogentry.gender }}</td>
                <td>{{ selectedlogentry.nationality }}</td>
                <td>{{ selectedlogentry.phone }}</td>
                <td>{{ selectedlogentry.location }}</td>
                <td>{{ selectedlogentry.referralsource }}</td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>  
    
  <br>
  <br>


  <div class="row">
    <div class="col-md">
      <div class="card card-body">

        <h5># of Indirect Beneficiaries: {{ count }}<h5>
          <table class="table table-dark table-sm">
              <thead>
                  <tr>
                      <th>Full Name</th>
                      <th>Age</th>
                      <th>Gender</th>
                      <th>Nationality</th>
                      
                  </tr>
              </thead>
              <tbody>
                {% for benef in selectedIndirectBenefs %}
                    <tr>
                      <td>{{ benef.fullname }}</td>
                      <td>{{ benef.age }}</td>
                      <td>{{ benef.gender }}</td>
                      <td>{{ benef.nationality }}</td>
                    </tr>
                  {% endfor %}
              </tbody>
          </table>

      </div>
    </div>
  </div>  
  

 
  
  <br>
  <br>

    
  
    <div class="row">
      <div class="col-md">
        <div class="card card-body">
          <h5>VISITS</h5>
          <hr>
         
          <table class="table table-dark table-sm">
            <thead>
                <tr>
                    <th>Visit Date</th>
                    <th>Comment</th>
                </tr>
            </thead>
            <tbody>
                {% for visit in visits %}
                  <tr>
                    <td></td>
                    <td></td>
                  </tr>
                  {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

{% endblock content %}




  <!--
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Add direct / Indirect Beneficiary
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse hide" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body">
  
  
            <form method="POST" onsubmit="window.location.reload();">
              {% csrf_token %}
          
              <div class="form-group">
                <input type="text" class="form-control"  aria-describedby="emailHelp" placeholder="{{ selectedCase.0.0 }}" name="case_id" value="{{ selectedCase.0.0 }}">
              </div>
          
              <div class="form-group">
                <input type="text" class="form-control"  aria-describedby="emailHelp" placeholder="Full Name" name="full_name" value="{{ full_name }}">
              </div>
              
          
              <div class="form-group">
                <input type="number" class="form-control"  aria-describedby="emailHelp" placeholder="Age" name="age" value="{{ age }}">
              </div>
            
              <div class="form-group">
                <select class="custom-select" placeholder="Beneficiary Status" name="beneficiary_status_id">
                  <option selected >Select Beneficiary Status</option>
                  {% for x in beneficiaryStatuses %}
                  <option value="{{x.0}}">{{x.1}}</option>
                  {% endfor %}
                </select>
              </div>
          
            
              <div class="form-group">
                <select class="custom-select" placeholder="Gender" name="gender_id">
                  <option selected >Select Gender</option>
                  {% for x in genders %}
                  <option value="{{x.0}}">{{x.1}}</option>
                  {% endfor %}
                </select>
              </div>
            
              <button type="Sign up" class="btn btn-secondary">Add Case</button>
            </form>
  
          </div>
        </div>
      </div>
  
  
    </div>
  
    -->