{% load static %}

<nav id="sidebarMenu" class="col-md-2 col-lg-2 d-md-block bg-dark sidebar collapse">
  <div class="sidebar-sticky pt-3">
    <ul class="nav flex-column">
      
      <li class="nav-item">
        <a class="nav-link active" href="{% url 'caselog-home' %}">
          <span data-feather="home"></span>
          Dashboard <span class="sr-only">(current)</span>
        </a>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Cases</span>
        </h6>

      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'caselog-logentries' %}">
          <span data-feather="users"></span>
          Monthly Log
        </a>
      </li>
    </li>

    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'caselog-addlogentry' %}">
        <span data-feather="users"></span>
        Add Case in Log
      </a>
    </li>
  </li>
<!--
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'caselog-cases' %}">
          <span data-feather="users"></span>
          All Cases
        </a>
      </li>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="{% url 'caselog-addcase' %}">
        <span data-feather="users"></span>
        Add Case
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="{% url 'caselog-beneficiaries' %}">
        <span data-feather="users"></span>
        All Beneficiaries
      </a>
    </li>

    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      <span>Workers</span>
    </h6>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'caselog-workers' %}">
          <span data-feather="users"></span>
          All Workers
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'caselog-addworker' %}">
          <span data-feather="users"></span>
          Add Worker
        </a>
      </li>
     -->
    </ul>
  </div>
</nav>
