
  {% block content %}

  <br>
  
  <table class="table table table-sm shade_last_row table-bordered table-info" style="text-align: center;">
      <thead>
          <tr>
              <th colspan="2">NEW CASES</th>
              <th colspan="2">0-5</th>
              <th colspan="2">6-9</th>
              <th colspan="2">10-14</th>
              <th colspan="2">15-17</th>
              <th colspan="2">18-24</th>
              <th colspan="2">25-49</th>
              <th colspan="2">50-59</th>
              <th colspan="2">+60</th>
          </tr>
          <tr>
            <th>Nationality</th>
            <th>Total # of Cases</th>
            <th>M</th>
            <th>F</th>
            <th>M</th>
            <th>F</th>
            <th>M</th>
            <th>F</th>
            <th>M</th>
            <th>F</th>
            <th>M</th>
            <th>F</th>
            <th>M</th>
            <th>F</th>
            <th>M</th>
            <th>F</th>
            <th>M</th>
            <th>F</th>
        </tr>
      </thead>
      <tbody>
        {% for stat in newstats %}
            <tr>
              <td>{{ stat.nationality }}</td>
              <td>{{ stat.total }}</td>
              <td>{{ stat.age_0_5_M }}</td>
              <td>{{ stat.age_0_5_F }}</td>
              <td>{{ stat.age_6_9_M }}</td>
              <td>{{ stat.age_6_9_F }}</td>
              <td>{{ stat.age_10_14_M }}</td>
              <td>{{ stat.age_10_14_F }}</td>
              <td>{{ stat.age_15_17_M }}</td>
              <td>{{ stat.age_15_17_F }}</td>
              <td>{{ stat.age_18_24_M }}</td>
              <td>{{ stat.age_18_24_F }}</td>
              <td>{{ stat.age_25_49_M }}</td>
              <td>{{ stat.age_25_49_F }}</td>
              <td>{{ stat.age_50_59_M }}</td>
              <td>{{ stat.age_50_59_F }}</td>
              <td>{{ stat.age_gt60_M }}</td>
              <td>{{ stat.age_gt60_F }}</td>
            </tr>
          {% endfor %}
      </tbody>
  </table>


  <br>
<!--
  <table class="table table table-sm shade_last_row table-bordered table-info" style="text-align: center">
    <thead>
      <tr>
          <th colspan="2">ACTIVE CASES</th>
          <th colspan="2">0-5</th>
          <th colspan="2">6-9</th>
          <th colspan="2">10-14</th>
          <th colspan="2">15-17</th>
          <th colspan="2">18-24</th>
          <th colspan="2">25-49</th>
          <th colspan="2">50-59</th>
          <th colspan="2">+60</th>
      </tr>
      <tr>
        <th>Nationality</th>
        <th>Total # of Cases</th>
        <th>M</th>
        <th>F</th>
        <th>M</th>
        <th>F</th>
        <th>M</th>
        <th>F</th>
        <th>M</th>
        <th>F</th>
        <th>M</th>
        <th>F</th>
        <th>M</th>
        <th>F</th>
        <th>M</th>
        <th>F</th>
        <th>M</th>
        <th>F</th>
    </tr>
  </thead>
      <tbody>
        {% for stat in activestats %}
            <tr>
              <tr>
                <td>{{ stat.nationality }}</td>
                <td>{{ stat.total }}</td>
                <td>{{ stat.age_0_5_M }}</td>
                <td>{{ stat.age_0_5_F }}</td>
                <td>{{ stat.age_6_9_M }}</td>
                <td>{{ stat.age_6_9_F }}</td>
                <td>{{ stat.age_10_14_M }}</td>
                <td>{{ stat.age_10_14_F }}</td>
                <td>{{ stat.age_15_17_M }}</td>
                <td>{{ stat.age_15_17_F }}</td>
                <td>{{ stat.age_18_24_M }}</td>
                <td>{{ stat.age_18_24_F }}</td>
                <td>{{ stat.age_25_49_M }}</td>
                <td>{{ stat.age_25_49_F }}</td>
                <td>{{ stat.age_50_59_M }}</td>
                <td>{{ stat.age_50_59_F }}</td>
                <td>{{ stat.age_gt60_M }}</td>
                <td>{{ stat.age_gt60_F }}</td>
              </tr>
          {% endfor %}
      </tbody>
  </table>
-->


  {% endblock content %}
