
<div class="container">
  {% block content %}

  <br>
  
  <h4>STATISTICS - NEW - Cases</h4>
  <table class="table table table-sm shade_last_row" style="text-align: center;">
      <thead class="table-light">
          <tr>
              <th>Nationality</th>
              <th>Total # of Cases</th>
              <th>0-5</th>
              <th>6-9</th>
              <th>10-14</th>
              <th>15-17</th>
              <th>18-24</th>
              <th>25-49</th>
              <th>50-59</th>
              <th>+60</th>
          </tr>
      </thead>
      <tbody>
        {% for row in statistics_new_cases %}
            <tr>
              <td>{{ row.0 }}</td>
              <td>{{ row.1 }}</td>
              <td>{{ row.2 }}</td>
              <td>{{ row.3 }}</td>
              <td>{{ row.4 }}</td>
              <td>{{ row.5 }}</td>
              <td>{{ row.6 }}</td>
              <td>{{ row.7 }}</td>
              <td>{{ row.8 }}</td>
              <td>{{ row.9 }}</td>
            </tr>
          {% endfor %}
      </tbody>
  </table>


  <br>

  <h4>STATISTICS - ACTIVE - Cases</h4>
  <table class="table table table-sm shade_last_row" style="text-align: center">
      <thead class="table-light">
          <tr>
              <th>Nationality</th>
              <th>Total # of Cases</th>
              <th>0-5</th>
              <th>6-9</th>
              <th>10-14</th>
              <th>15-17</th>
              <th>18-24</th>
              <th>25-49</th>
              <th>50-59</th>
              <th>+60</th>
          </tr>
      </thead>
      <tbody>
        {% for row in statistics_active_cases %}
            <tr>
              <td>{{ row.0 }}</td>
              <td>{{ row.1 }}</td>
              <td>{{ row.2 }}</td>
              <td>{{ row.3 }}</td>
              <td>{{ row.4 }}</td>
              <td>{{ row.5 }}</td>
              <td>{{ row.6 }}</td>
              <td>{{ row.7 }}</td>
              <td>{{ row.8 }}</td>
              <td>{{ row.9 }}</td>
            </tr>
          {% endfor %}
      </tbody>
  </table>



  {% endblock content %}
</div>
