
<div class="container">
  {% block content %}

  <br>
  
  <h4>STATISTICS - NEW - Cases</h4>
  <table class="table table table-sm shade_last_row" style="text-align: center">
      <thead class="table-light">
          <tr>
              <th>Nationality</th>
              <th>Total # of Cases</th>
              <th>0-5</th>
              <th>6-9</th>
              <th>10-14</th>
              <th>15-17</th>
              <th>18-24</th>
              <th>25-49</th>
              <th>50-59</th>
              <th>+60</th>
          </tr>
      </thead>
      <tbody>
        {% for stat in newstats %}
            <tr>
              <td>{{ stat.nation }}</td>
              <td>{{ stat.total }}</td>
              <td>{{ stat.age_0_5 }}</td>
              <td>{{ stat.age_6_9 }}</td>
              <td>{{ stat.age_10_14 }}</td>
              <td>{{ stat.age_15_17 }}</td>
              <td>{{ stat.age_18_24 }}</td>
              <td>{{ stat.age_25_49 }}</td>
              <td>{{ stat.age_50_59 }}</td>
              <td>{{ stat.age_gt60 }}</td>
            </tr>
          {% endfor %}
      </tbody>
  </table>


  <br>

  <h4>STATISTICS - ACTIVE - Cases</h4>
  <table class="table table table-sm shade_last_row" style="text-align: center">
      <thead class="table-light">
          <tr>
              <th>Nationality</th>
              <th>Total # of Cases</th>
              <th>0-5</th>
              <th>6-9</th>
              <th>10-14</th>
              <th>15-17</th>
              <th>18-24</th>
              <th>25-49</th>
              <th>50-59</th>
              <th>+60</th>
          </tr>
      </thead>
      <tbody>
        {% for stat in activestats %}
            <tr>
              <td>{{ stat.nation }}</td>
              <td>{{ stat.total }}</td>
              <td>{{ stat.age_0_5 }}</td>
              <td>{{ stat.age_6_9 }}</td>
              <td>{{ stat.age_10_14 }}</td>
              <td>{{ stat.age_15_17 }}</td>
              <td>{{ stat.age_18_24 }}</td>
              <td>{{ stat.age_25_49 }}</td>
              <td>{{ stat.age_50_59 }}</td>
              <td>{{ stat.age_gt60 }}</td>
            </tr>
          {% endfor %}
      </tbody>
  </table>



  {% endblock content %}
</div>
