{% extends "case_log/base.html" %}
<div class="container">
  {% block content %}
  <h1>Beneficiaries</h1>
  <table class="table table table-sm">
      <thead class="table-light">
          <tr>
              <th>Full Name</th>
              <th>Age</th>
              <th>File #</th>
              <th>Gender</th>
              <th>Beneficiary Status</th>
              
          </tr>
      </thead>
      <tbody>
        {% for beneficiary in beneficiaries %}
            <tr>
              <td>{{ beneficiary.1 }}</td>
              <td>{{ beneficiary.2 }}</td>
              <td>{{ beneficiary.3 }}</td>
              <td>{{ beneficiary.4 }}</td>
              <td>{{ beneficiary.5 }}</td>
            </tr>
          {% endfor %}
      </tbody>
  </table>

  {% endblock content %}
</div>
