{% extends "case_log/base.html" %}
<div class="container">
  {% block content %}
  <h1>Cases</h1>
<div class="container">
	<div class="row">

			<table class="table table-sm" style="border-collapse:collapse;">
				<thead class="table-light">
					<tr>
						<th>File #</th>
						<th>Month</th>
						<th>Nationality</th>
						<th>Worker Name</th>
						<th>Case Status</th>
						<th># of Beneficiaries</th>
					</tr>
				</thead>
				<tbody>
					{% for case in cases %}
						<tr colspan="6" data-toggle="collapse" data-target="#demo{{case.0}}" class="accordion-toggle">
							<td><a href="{% url 'case-detail' case.0 %}">{{ case.1 }}</a></td>
							<td>{{ case.2 }}</td>
							<td>{{ case.3 }}</td>
							<td>{{ case.4 }}</td>
							<td>{{ case.5 }}</td>
							<td>{{ case.6 }}</td>
						</tr>
						<tr>
							<td colspan="6" class="hiddenRow">
								<div class="collapse" id="demo{{case.0}}">
									
								
									<!--beneficiaries details-->
									<table class="table table-sm table-dark table-bordered" style="margin: 0px 10px 0px 40px;">
										<thead>
											<tr>
												<th>Full Name</th>
												<th>Age</th>
												<th>Gender</th>
												<th>Beneficiary Status</th>
											</tr>
										</thead>
										<tbody>
										  	{% for beneficiary in beneficiaries %}
												{% if beneficiary.3 == case.1 %}
													<tr>
														<td>{{ beneficiary.1 }}</td>
														<td>{{ beneficiary.2 }}</td>
														<td>{{ beneficiary.4 }}</td>
														<td>{{ beneficiary.5 }}</td>
													</tr>
												{% endif %}
											{% endfor %}
										</tbody>
									</table>
								</div> 
							</td> 
						</tr>
					{% endfor %}
				</tbody>
			</table>


</div>
</div>
  {% endblock content %}
</div>

