{% extends "case_log/base.html" %}
<div class="container">
  {% block content %}
  <h1>Case Details</h1>
  
  <table class="table">
      <thead>
        <tr>
          <th>ID</th>  
          <th>File #</th>
          <th>Month</th>
          <th>Worker Name</th>
          <th>Case Status</th>
        </tr>
      </thead>
      <tbody>
            <tr>
              <td>{{ selectedCase.0.0 }}</td>
              <td>{{ selectedCase.0.1 }}</td>
              <td>{{ selectedCase.0.2 }}</td>
              <td>{{ selectedCase.0.3 }}</td>
              <td>{{ selectedCase.0.4 }}</td>
            </tr>
      </tbody>
  </table>
  
  
  <h3>Beneficiaries</h3>
  <table class="table table.sm table-dark">
      <thead>
          <tr>
              <th>ID</th>  
              <th>Full Name</th>
              <th>Age</th>
              <th>File #</th>
              <th>Gender</th>
              <th>Beneficiary Status</th>
              
          </tr>
      </thead>
      <tbody>
        {% for beneficiary in caseSelectedBeneficiaries %}
            <tr>
              <td>{{ beneficiary.0 }}</td>
              <td>{{ beneficiary.1 }}</td>
              <td>{{ beneficiary.2 }}</td>
              <td>{{ beneficiary.3 }}</td>
              <td>{{ beneficiary.4 }}</td>
              <td>{{ beneficiary.5 }}</td>
            </tr>
          {% endfor %}
      </tbody>
  </table>

  {% endblock content %}
</div>
