{% extends "case_log/base.html" %}
<div class="container">
  {% block content %}
  <h1>Workers</h1>
  <table class="table">
      <thead>
          <tr>
              <th>ID</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th>Password</th>
              <th>Age</th>
              <th>Gender</th>
              <th>Title</th>
          </tr>
      </thead>
      <tbody>
        {% for worker in workers %}
            <tr>
              <td>{{ worker.0 }}</td>
              <td>{{ worker.1 }}</td>
              <td>{{ worker.2 }}</td>
              <td>{{ worker.3 }}</td>
              <td>{{ worker.4 }}</td>
              <td>{{ worker.5 }}</td>
              <td>{{ worker.6 }}</td>
              <td>{{ worker.7 }}</td>
            </tr>
          {% endfor %}
      </tbody>
  </table>

  {% endblock content %}
</div>
